<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="POS" connectionString="Data Source=DESKTOP-2OOIK8A\SQLEXPRESS;Initial Catalog=POS;Integrated Security=True"/>
  </connectionStrings>
</configuration>