<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BarcodeLib" version="2.2.10" targetFramework="net452" />
  <package id="Crystal.Reports" version="13.0.15.1840" targetFramework="net452" />
  <package id="Syncfusion.Licensing" version="18.4.0.43" targetFramework="net452" />
  <package id="System.Drawing.Common" version="5.0.1" targetFramework="net452" />
</packages>